/* Common Css Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}

:root {
  --primary-font: "Montserrat";
}
/* Common Css End */

/* Navbar Area Start */
.navbar-brand {
  font-family: var(--primary-font);
  font-size: 29px;
}
.nav-item i {
  font-size: 29px;
  cursor: pointer;
}
/* Navbar Area End */

/* Banner Area Start */
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url(../images/banner.jpg) no-repeat center / cover;
  padding: 110px 0;
}

.banner-text {
  padding: 50px 30px;
  border: 15px solid #f0f182fb;
}

.banner-text h3 {
  color: #ffffff;
  font-size: 65px;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 66px;
}

.banner-text h6 {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 22px;
  margin: 26px 0;
}

.banner-text p {
  color: #ffffffb4;
  font-family: var(--primary-font);
  margin: 26px 0 60px 0;
}

.banner-text span {
  border-bottom: 1px solid #ffffff;
  font-family: var(--primary-font);
  cursor: pointer;
}

.banner-text a {
  font-size: 26px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: #ffffff;
  border: 4px solid #ffffff;
  padding: 20px 40px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.banner-text a:hover {
  background: #ffffff;
  color: #000000;
}
/* Banner Area End */

/* Services Area Start */
#services {
  margin: 80px 0;
}

.service-title h3 {
  font-size: 34px;
  font-weight: 500;
  color: #000000dc;
  font-family: var(--primary-font);
}

.service-inner {
  margin: 60px 0;
  position: relative;
}

.service-inner img {
  width: 100%;
}

.service-inner a {
  font-size: 44px;
}

.service-innerBtn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.service-innerBtn a:hover {
  color: #ffffff;
  background: #818c96e3;
}

.service-innerBtn a {
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.4px;
  font-family: var(--primary-font);
  background: #ffffff;
  padding: 10px 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* Services Area End */

/* Pricing Area Start */
#pricing {
  padding: 80px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.5)),
    url(../images/banner.jpg) no-repeat center / cover;
}

.pricing-title h3 {
  font-size: 54px;
  font-weight: 800;
  color: #ffffff;
  font-family: var(--primary-font);
}

.pricing-inner {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: #000000;
  background: #ffffff;
  padding: 40px 40px;
  font-family: var(--primary-font);
  cursor: pointer;
}

.pricing-inner-right h4 {
  color: rgb(82, 75, 66) !important;
}
/* Pricing Area End */

/* About Area Start */
#about {
  margin-bottom: 70px;
  padding: 100px 0;
  background: #00000071;
}

.about-wrapper-left h3 {
  color: #ffffff;
  font-size: 66px;
  font-weight: 700;
  padding-right: 175px;
  line-height: 68px;
  font-family: var(--primary-font);
  text-shadow: 1px 3px 0 #444242e5, 1px 5px 5px #59666b;
}

.about-wrapper-right p {
  font-family: var(--primary-font);
  color: #d4d4d4; 
  line-height: 35px;
  margin-bottom: 40px;
  font-size: 22px;
}

.about-wrapper-right p:nth-child(2) {
  margin-bottom: 140px !important;
}

.about-wrapper-right a {
  font-size: 20px;
  font-family: var(--primary-font);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  padding: 20px 40px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 5px solid transparent;
}

.about-wrapper-right a:hover {
  background: #b8b8b8;
  border: 5px solid #ffffff;
}
/* About Area End */